*{
    margin:0;
    box-sizing: border-box;
}
body{
    position: relative;
    padding: 0;
    margin: 0;
    background: rgb(250, 97, 97);
    top: 0;
}
html{
    font-size: 16px;

    @media screen and (max-width: 600px) {
        font-size: 15px;}

   
}

.titulo{
    font-size: 50px;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 4px solid rgb(179, 66, 66);
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    text-shadow: 3px 3px rgb(205, 202, 202);
    padding: 10px;
    margin:15PX;
letter-spacing: 10px;
    top:30px;
}
.titulo2{
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    margin-top: -35px;
    font-size: 25px;
    margin-left: 70px;
}
.titulo3{
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: -35px;
   
    
}
.titulo4{
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: -35px;
    
}

.img{
    top: -15PX;
    display: flex;
    width: 250px;
    height: 450px;
    position:relative; 
    float: left;
    margin-right: 15px;
    
    
}
.img2{
    margin-top: -450px;
    margin-right: -20px;
    display: flex;
    width: 260px;
    height: 450px;
    position: relative;
    float: right;
   
}
.img3{
    display: flex;
    position: relative;
    float: left;
    width: 270px;
    height: 450px;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: 15px;

}
.img4{
    margin-top: -450px;
    margin-right: -20px;
    display: flex;
    width: 260px;
    height: 450px;
    position: relative;
    float: right;
   
}
.parrafo{
    font-size: 35px;
    text-align: justify;
    color: #fff;

}
.parrafo2{ 
    margin-left: -30px;
    margin-top:40PX;
    padding: 15px;
    margin-right: 250px;
    font-size: 23px;
    text-align: justify;
    color: #fff;

    
}
.parrafo3{
    color: #fff;
    font-size: 21px;
    text-align: justify;
    margin-top: 15px;
}

.parrafo4{
    margin-left: -30px;
    margin-top:-10PX;
    padding: 15px;
    margin-right: 250px;
    font-size: 22px;
    text-align: justify;
    color: #fff;
    
}

.container{
    position: relative;
    border-radius: 35px;
    box-shadow: 0px 0px 20px rgb(230, 45, 45);
    height: 550px;
    max-width: 1200px;
    width: 100%;
    padding:60px;
    margin: 0 auto;
    margin-top: 150px;
    border: 3px solid rgb(239, 81, 81) ;
    margin-top: 100px;
    
}
.container2{
    position: relative;
    border-radius: 35px;
    box-shadow: 0px 0px 20px rgb(230, 45, 45);
    height: 550px;
    max-width: 1200px;
    width: 100%;
    padding:60px;
    margin: 0 auto;
    margin-top: 150px;
    border: 3px solid rgb(239, 81, 81) ;
    margin-top: 100px;
    
}
.container3{
    position: relative;
    border-radius: 35px;
    box-shadow: 0px 0px 20px rgb(230, 45, 45);
    height: 550px;
    max-width: 1200px;
    width: 100%;
    padding:60px;
    margin: 0 auto;
    margin-top: 300px;
    border: 3px solid rgb(239, 81, 81) ;
    margin-top: 100px;

}
.container4{
    position: relative;
    border-radius: 35px;
    box-shadow: 0px 0px 20px rgb(230, 45, 45);
    height: 550px;
    max-width: 1200px;
    width: 100%;
    padding:60px;
    margin: 0 auto;
    margin-top: 300px;
    border: 3px solid rgb(239, 81, 81) ;
    margin-top: 100px;
}
.containerL{
    position: relative;
    border-radius: 35px;
    box-shadow: 0px 0px 20px rgb(230, 45, 45);
    height: 1050px;
    max-width: 1200px;
    width: 100%;
    padding:60px;
    margin: 0 auto;
    margin-top: 150px;
    border: 3px solid rgb(239, 81, 81) ;
    margin-top: 100px;
}
.caracteristicas{
    color:#fff;
    text-align: center;
    font-size: 34px;

}
.caracteristica2{
    margin-left: 55px;
    text-align:  justify;
    color:#fff;
    
    font-size: 1.5em;
    padding: 20px;
}
ul{
    margin-left: 95px;
    font-size: 25px;
    color: #fff;
    padding: 100px;
    text-align: center;
    margin-top:-82px;
}
ul li{
    margin-top: 0;
    text-align: justify;
    list-style:circle;
}
.fin{
    font-size: 25px;
    color: #fff;
    margin-top: -35px;
    padding: 15px;
    border: 5px 1px solid #fff;
    margin-bottom: 50px;
    text-align: center;
}

button{
    top: 101%;
   color: aqua;
    background-color: #5ad6a9;
    border-radius: 50px;
    position: absolute;
    width: 25%;
    left: 40%;
    bottom: 150cm;
    border: 5px 5px #fff solid;
    box-shadow: 3px 3px #2f916d;
    height: 80px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(223, 223, 223);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bolder;
   
}
button:hover{
    background-color: #45b38b;
transform: translatey(-3%);
}
/* h3{
    color: #fff;
    font-size: 50px;
    margin-left: 10px;
    position: absolute;
    

    
} */
@media screen and (max-width: 500px) {
    
    .container .img{
        width: 275px;
        left: -15px;
        height: 375px;
        bottom: 20px;
    }
    .container{
        top: 100px;
        height: 1000px;
        left: 2%;
        width: 95%;
        position: absolute;
        border: 1px rgb(230, 45, 45) solid;
        box-shadow: 0px 0px 20px rgb(230, 45, 45);
        margin-right: 250px;
        
    }
    .parrafo{
        
        margin: -20px -20px;
        margin-top: 25px;
        color: rgb(255, 255, 255);
        font-size: 25px;
    }
    .titulo{
        border: solid 5px rgb(238, 55, 55);
        font-size: 25px;
        color:rgb(255, 255, 255);
        text-align: center;
        margin-top: 35px;
    }
    button{
        bottom: 0.5cm;
        height: 50px;
        width: 150px;
    }

}
@media screen and (max-width: 500px) {
    
    .container2 .img2{
        width: 275px;
        left: -15px;
        height: 375px;
        display: flex;
        position: absolute;
        bottom: 15px;
        left: 45px;
    }
    .container2{
        border: rgb(230, 45, 45) solid;
        top: 1150px;
        height: 1400px;
        left: 2%;
        width: 95%;
        position: absolute;
        box-shadow: 0px 0px 20px rgb(230, 45, 45);
        margin-right: 250px;
        
    }
    .parrafo2{
        
        margin: -45px -45px;
        margin-top: 25px;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    .titulo2{
       
        font-size: 25px;
        color:rgb(255, 255, 255);
        
       
        margin-left: -1px;
    }
    button{
        bottom: 0.5cm;
        height: 50px;
        width: 150px;
    }

}
@media screen and (max-width: 500px) {
    
    .container3 .img3{
        width: 275px;
      
        height: 375px;
        display: flex;
        position: absolute;
        bottom: 15px;
        left: 65px;
    }
    .container3{
        border: rgb(230, 45, 45) solid;
        top: 2600px;
        height: 1750px;
        left: 2%;
        width: 95%;
        position: absolute;
        box-shadow: 0px 0px 20px rgb(230, 45, 45);
        margin-right: 250px;
        
    }
    .parrafo3{
        
        margin: -45px -45px;
        margin-top: 25px;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    .titulo3{
       
        font-size: 25px;
        color:rgb(255, 255, 255);
        text-align: center;
        top: 75px;
    }
    button{
        bottom: 0.5cm;
        height: 50px;
        width: 150px;
    }

}
@media screen and (max-width: 500px) {
    
    .container4 .img4{
        width: 275px;
      
        height: 375px;
        display: flex;
        position: absolute;
        bottom: 15px;
        left: 50px;
    }
    .container4{
        border: rgb(230, 45, 45) solid;
        top: 4400px;
        height: 1725px;
        left: 2%;
        width: 95%;
        position: absolute;
        box-shadow: 0px 0px 20px rgb(230, 45, 45);
        margin-right: 250px;
        
    }
    .parrafo4{
        
        margin: -45px -45px;
        margin-top: 25px;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    .titulo4{
       
        font-size: 25px;
        color:rgb(255, 255, 255);
        text-align: center;
        top: 75px;
    }
    button{
        bottom: 0.5cm;
        height: 50px;
        width: 150px;
    }

}
@media screen and (max-width: 500px) {
    
    .container4 .img4{
        width: 275px;
      
        height: 375px;
        display: flex;
        position: absolute;
        bottom: 15px;
        left: 50px;
    }
    .containerL{
        border: rgb(230, 45, 45) solid;
        top: 6200px;
        height: 1550px;
        left: 2%;
        width: 95%;
        position: absolute;
        box-shadow: 0px 0px 20px rgb(230, 45, 45);
        margin-right: 250px;
        
    }
    .caracteristicas{
        display: flex;
        margin: -45px -45px;
        margin-top: 0.2cm;
        color: rgb(255, 255, 255);
        font-size: 24px;
    }
    .caracteristica2 {
        margin: -45px -45px;
        font-size: 25px;
        color:rgb(255, 255, 255);
        text-align: center;
        margin-top: 50px;
    }
     
    ul{
        font-size: 25px;
        
        margin-top: 55px;
        padding:1px; 
        list-style: disc;
        margin: -25px -25px;
    }
    .fin{
        margin-top:35px;
       font-size: 25px;
       }
    .boton{
        position: relative;
        margin-top: 7750px;
        width: 70px;
        left: 95px;
        
        
    }
    }
   

